@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Khand');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
  font-family: 'Nunito', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.display_inline {
  display: inline;
}

.tb_spacing {
  padding: 80px 0;
}

.logo {
  width: 54%;
}

footer .logo {
  width: 40%;
}

.footer_logo {
  width: 20%;
}

hr {
  border-top: 2px solid #f7931e;
  width: 40px;
  position: relative;
}

.left {
  margin: 1.3em 0 1.4em 0;
}

.breadcrumb_content {
  background-color: #4D4D4D;
  font-size: 13px;
}

.breadcrumb_content .container .breadcrumb {
  background-color: #4D4D4D;
}

.breadcrumb-item.active {
  color: #fff;
}

.form-control {
  background-color: #F8F8F9;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 0;
}

.toTop {
  padding: 0 15px;
  background: #30353E;
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 20px;
  display: none;
  font-size: 2rem;
  bottom: 20px;
  cursor: pointer;
}

/* =============================================== */
/*                   HEADER CSS STARTS            */
/* ============================================= */
header .menu-bar {
  text-transform: uppercase;
  background-color: rgba(0, 87, 144, .88);
}

header .menu-bar .navbar {
  font-family: 'Abel', sans-serif;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
  letter-spacing: 1px;
}

header .menu-bar .navbar i {
  margin-right: .5rem;
}

header .menu-bar .navbar-nav {
  position: relative;
}

header .menu-bar .navbar-nav>li>a {
  color: #fff;
  padding: 1.2rem 2.3rem !important;
}

header .menu-bar .dropdown-menu {
  width: 100%;
  max-width: initial;
  min-width: initial;
  left: calc(14%);
  top: 65px;
  background-color: rgba(0, 87, 144, .8);
  color: #fff;
  padding: 0;
  border-radius: 0;
}

header .navbar-nav li.drop-down:hover div.dropdown-menu {
  display: block;
}

header .menu-bar .mega-menu-wrap {
  padding: 0 1rem 1rem;
}

header .menu-bar .mega-menu-wrap h4 {
  color: #eee;
  margin-top: 0px;
  font-size: 1.2rem;
  padding-left: 15px;
  padding-bottom: 13px;
  text-transform: uppercase;
  border-bottom: 1px solid #f7931e;
  padding-top: 15px;
  margin-right: -15px;
  margin-left: -15px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-nav>li.active>a {
  background: #004470;
  border-bottom: 3px solid #f7931e;
}

.navbar-nav>li.active>a:hover {
  background: #004470;
  border-bottom: 3px solid #f7931e;
}

.navbar-nav>li:hover>a, li.drop-down ul>li>a:hover {
  background-color: #004470;
  border-bottom: 3px solid #004470;
}

header .menu-bar .products_list li a:hover {
  border-bottom: none;
}

.mega-menu-link-images {
  transition: .3s ease-in-out;
}

.mega-menu-link-images li:not(:first-child) {
  display: none;
}

header .menu-bar .mega-menu-wrap img {
  max-width: 100%;
}

header .menu-bar .mega-menu-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header .menu-bar .mega-menu-wrap ul a {
  color: #fff;
  padding: .5rem;
  display: block;
  transition: .3s ease-in-out;
  text-transform: none;
  letter-spacing: 1px;
  position: relative;
}


header .menu-bar .mega-menu-wrap ul a:hover {
  text-decoration: none;
}

header .menu-bar .mega-menu-wrap ul a .view_later {
  visibility: hidden;
}

header .menu-bar .mega-menu-wrap ul a:hover .view_later {
  visibility: visible;
}

/*///////////////////// header end //////////////////////////*/
/* Responsive Menu */
.nav-bar-icon {
  background-color: #fff;
  height: 2px;
  width: 24px;
  display: block;
  margin-top: .37rem;
}

.nav-bar-icon:last-of-type {
  margin-bottom: 0.5rem;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
/* Set width to make card deck cards 100% width */
@media (max-width: 950px) {}

@media (max-width: 991px) {

  header .menu-bar .navbar-nav>li>a,
  header .menu-bar .navbar-nav {
    border: none;
  }

  .navbar-nav>li {
    border-bottom: 1px solid #5C6370;
  }
}

@media (max-width: 575px) {
  header .menu-bar {
    margin-top: 2px;
  }
}

header .top-bar {
  background-color: #ddd;
}

header .top-bar {
  padding: 16px 0 4px 0;
  background-color: rgba(0, 87, 144, 0.15);
}

header .product_name {
  text-transform: none;
}

header .mini i {
  font-size: 1.8rem;
  color: rgba(0, 87, 144, .35);
}

header .mini p {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
  font-size: 12px;
}

.navbar {
  padding: 0;
}

/* =============================================== */
/*                   HEADER CSS ENDS            */
/* ============================================= */
/* =============================================== */
/*                   SLIDER CSS STARTS            */
/* ============================================= */
.carousel-control-next, .carousel-control-prev {
  width: 8%;
  background-color: #f7931e;
  height: 12%;
  top: 50%;
}

.carousel-control-prev-icon {}

.carousel-control-next-icon {}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 8px;
}

/* =============================================== */
/*                   SLIDER CSS ENDS            */
/* ============================================= */
/* =============================================== */
/*                   ABOUT CSS STARTS            */
/* ============================================= */
.about {
  background-color: #EAEDF6;
}

.about .container .content {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  padding: 70px;
  text-align: justify;
}

/* =============================================== */
/*                   ABOUT CSS ENDS            */
/* ============================================= */
/* =============================================== */
/*                   SERVICES CSS STARTS            */
/* ============================================= */
.services {
  background-color: #DDE2F0;
}

.services .content {
  border: 1px solid rgba(0, 0, 0, .09);
  padding: 45px 20px;
  transition: .5s ease-out;
  cursor: pointer;
  background-color: #EAEDF6;
}

.services .content:hover {
  background-color: #30353E;
  color: #fff;
}

.services .content i {
  font-size: 48px;
  color: #f7931e;
}

.border_span {
  border-left: 2px solid #FFC300;
  border-right: 2px solid #FFC300;
}

/* =============================================== */
/*                   SERVICES CSS ENDS            */
/* ============================================= */
/* =============================================== */
/*                   WHYUS CSS STARTS            */
/* ============================================= */
.why_us {
  background-color: #F8F8F9;
}

.why_us .col-md-3 i {
  font-size: 48px;
  border-left: 1px solid rgba(0, 0, 0, .09);
  padding: 24px;
  color: #f7931e;
}

.why_us .container .row .col-md-9 {
  text-align: right;
}

.regular_btn {
  background-color: #1C2025;
  color: #fff;
  border-radius: 0px;
  padding: 8px 22px;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
}

.regular_btn:hover {
  background-color: #F7931E;
  background-position: 0 -2px;
}

/* =============================================== */
/*                   WHYUS CSS ENDS            */
/* ============================================= */
/* =============================================== */
/*                   TESTIMONIALS CSS STARTS       */
/* ============================================= */
.testimonials {
  background-color: #EAEDF6;
}

.testimonials .carousel-indicators {
  bottom: -50px
}

.testimonials .carousel-indicators li {
  background-color: #999;
}

.testimonials .carousel-indicators .active {
  background-color: #666;
}

.testimonials .content {
  padding: 0 200px;
}

.testimonials img {
  border-radius: 50%;
}

.testimonials .carousel-control-next, .testimonials .carousel-control-prev {
  background-color: #f7931e;
  top: 20%;
  width: 4%;
  border-radius: 20%;
}

/* =============================================== */
/*                   TESTIMONIALS CSS ENDS       */
/* ============================================= */
/* =============================================== */
/*                   FOOTER CSS STARTS       */
/* ============================================= */
footer {
  background-color: #333;
  color: #ddd;
  padding: 50px 0 0 0;
  font-size: 14px;
}

footer .col-md-4 p {
  line-height: 33px;
}

footer ul li {
  padding: 4px 0;
}

footer ul li a {
  text-decoration: none;
  color: #ddd;
}

footer .sub_footer {
  background-color: #111;
  padding: 2px;
}

footer .sub_footer .social li {
  display: inline;
  padding: 0 8px;
}

footer .sub_footer .social li a i {
  font-size: 18px;
}

/* =============================================== */
/*                   FOOTER CSS ENDS       */
/* ============================================= */
/* =============================================== */
/*                   ABOUT_US CSS STARTS       */
/* ============================================= */
.about_us .head_img {}

.inside_head {
  background: rgba(26, 29, 36, 0.5);
  color: #fff;
  height: 200px;
  padding-top: 80px;
}

.team_members {
  background-color: #EAEDF6;
}

.team_members .col-md-4 {
  padding: 20px;
  transition: .5s ease-out;
  border-radius: 4px;
}

.team_members .col-md-4 img {
  border-radius: 4px;
}

.team_members .col-md-4:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.team_members ul li {
  padding: 0 10px;
}

.team_members ul li a {
  color: #999;
}

.team_members ul li i {
  font-size: 20px;
}

/* =============================================== */
/*                   ABOUT_US CSS ENDS       */
/* ============================================= */
/* ============================================= */
/*             PRODUCT CSS STARTS                 */
/* ============================================= */
.product_name {
  font-size: 18px;
  margin-top: 30px;
}

.product_price {
  color: #1E6B9D;
}

.sort_product {
  border-radius: 0;
  font-size: 12px;
}

.news .top_row {
  background-color: rgba(0, 0, 0, .03);
  margin: 0;
  border-radius: 4px;
}

.add_product li i {
  border: 1px solid #e5e5e5;
  padding: 8px;
  border-radius: 50%;
  margin-left: 14px;
}

.review li i {
  font-size: 12px;
}

.pagination {
  float: left;
  width: 100%;
  text-align: center;
  display: block;
}

.pagination a, .pagination span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 1px solid rgba(0, 0, 0, .09);
  color: #212529;
  padding: 2px 0px 0px 0px;
  margin-right: 6px;
  text-decoration: none;
  border-radius: 6px;
}

.pagination a:hover, .pagination span {
  background-color: #F7931E;
  color: #fff;
}

.caption span {
  /*background:#4465cd;*/
  color: #444;
  /*margin-bottom:7px;*/
  display: inline-block;
}

.content-container {
  margin-top: 25px;
}

.block-item {
  width: 100%;
  color: #212529;
  float: none;
  margin-bottom: 2.1875rem;
  border-radius: 4px;
  text-align: center;
}

.block-item:hover {
  box-shadow: 2px 2px 10px #dbdbdb;
}

@media screen and (min-width: 40rem) {
  .block-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .block-item:last-child {
    margin-right: 0;
  }

  .block-item:nth-child(2n) {
    margin-right: 0;
  }

  .block-item:nth-child(2n+1) {
    clear: left;
  }
}

@media screen and (min-width: 64rem) {
  .block-item {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding: 10px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
  }

  .block-item:hover {
    border: 1px solid #d8d8d8;
    box-sizing: border-box;
  }

  .block-item:last-child {
    margin-right: 0;
  }

  .block-item:nth-child(2n) {
    margin-right: 2.35765%;
  }

  .block-item:nth-child(2n+1) {
    clear: none;
  }

  .block-item:nth-child(3n) {
    margin-right: 0;
  }

  .block-item:nth-child(3n+1) {
    clear: left;
  }
}

.view-radio {
  display: none;
}

.view-radio+label {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 5px 5px 5px 0;
  color: #58575A;
  font-size: 20px;
  padding: 0 5px;
  border-radius: 4px;
}

.view-radio:checked+label,
.view-radio+label:hover {
  color: #FFC300;
}

.news.list-view .block-item {
  width: 100%;
  margin-right: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-align: left;
  border-bottom: 1px solid #D8D8D8;
}

@media screen and (min-width: 48rem) {
  .news.list-view .block-item {
    /* min-height: 18.75rem; */
  }
}

.news.list-view .block-item img {
  height: 4rem;
  width: 4rem;
  float: left;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

@media screen and (min-width: 48rem) {
  .news.list-view .block-item img {
    height: unset;
    width: 18%;
  }
}

@media (max-width: 1023px) {
  .news .news-cat .content-container .block-item {
    padding: 12px;
  }
}

.news.list-view .block-item .entry-content {
  overflow: hidden;
  padding: 0 90px;
}

.thumbnail .caption {
  text-align: center;
}

.news-cat {
  padding: 17px 10px;
}

.block-item {
  border: 1px solid #d8d8d8;
  background-color: #fff;
  line-height: 1;
}

.news-admin span {
  padding: 0 5px;
}

.news_row {
  margin: 0;
  padding: 0 20px;
}

.news_date {
  font-size: 12px;
}

.news_date span {
  background-color: #D31129;
  color: #fff;
  padding: 3px 6px;
  border-radius: 15px;
}

.news_date i {
  /* color: #4DA86A; */
  padding-right: 8px;
}

.news .col-md-9 .list-group-item-text {
  margin-top: 8px;
}

.news .col-md-9 img {
  width: 70%;
  cursor: pointer;
  transition: .3s ease-out;
}

.news .col-md-9 img:hover {
  transform: scale(1.05);
}

.bg_title {
  background-color: #222;
  padding-bottom: 14px;
  padding: 10px 14px;
  color: #fff;
}

.recent_news li {
  list-style: none;
  padding: 6px 0;
}

.recent_news li a {
  font-size: 14px;
  margin-left: 4px;
}

.recent_news li i {
  color: rgba(0, 0, 0, .09);
}

.recent_news li:hover i {
  color: #FFC300;
}

.recent_news li:hover .square1,
.recent_news li .square2 {
  display: none;
}

.recent_news li:hover .square2 {
  display: inline;
}

.recent_news {
  border-radius: 2px;
}

.news .date {
  font-size: 10px;
  color: #555;
  margin-left: 20px;
}

.news .col-md-3 input {
  border-radius: 0;
}

.news_tab .nav-tabs {
  border: none;
}

.news_tab .nav-tabs .nav-item.show .nav-link, .news_tab .nav-item .nav-link.active {
  background-color: #167164;
  color: #fff;
  border: none;
}

.news_tab .nav-tabs {
  border: 0;
}

.news_tab .nav-item .nav-link {
  text-decoration: none;
  color: #212529;
  font-size: 20px;
  padding: 6px 20px;
  border-radius: 2px;
}

/* ============================================= */
/*             PRODUCT CSS ENDS                 */
/* ============================================= */
/* ============================================= */
/*             CONTACT CSS STARTS                 */
/* ============================================= */
.contact_us form .form-group {
  margin-bottom: 1.5rem;
}

.contact_us .col-md-8 {}

.contact_us .col-md-4 {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  padding: 30px;
}

/* ============================================= */
/*             CONTACT CSS ENDS                 */
/* ============================================= */
/* ============================================= */
/*             OUR_SERVICES CSS STARTS            */
/* ============================================= */
.our_services .col-md-4 .content {
  background-color: #EAEDF6;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  transition: 0.5s linear;
  cursor: pointer;
  padding: 45px 20px 10px 20px;
}

.our_services .col-md-4 .content:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  background-color: #30353E;
  color: #fff;
}

.our_services .col-md-4 .content .icon {
  font-size: 60px;
  transition: .5s ease-in-out;
  color: #FFC300;
}

.our_services .col-md-4 :hover .icon {
  transform: scale(1.3);
}

/* ============================================= */
/*             OUR_SERVICES CSS ENDS            */
/* ============================================= */
/* ============================================= */
/*             PRODUCT_SINGLE CSS STARTS        */
/* ============================================= */
.product_info .nav-tabs {
  background-color: #EAEDF6;
}

.product_info .tab-content>.active {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  padding: 40px;
}

.related_products {
  background-color: #EAEDF6;
}

.product_info {
  background-color: #DDE2F0;
}

.product_single .product_img {
  border: 1px solid #d8d8d8;
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
}

.product_single select {
  width: 16%;
  border-radius: 0;
  height: 30px;
  padding: 1px;
}

.product_info .nav-tabs .nav-link {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.08);
}

.product_info .nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-radius: 0;
  background-color: rgba(48, 53, 62, 0.6);
  border: 0;
  color: #fff;
}

.product_info .nav-tabs .nav-link.active:hover {
  background-color: rgba(48, 53, 62, 0.6);
}

.product_info .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  background-color: rgba(48, 53, 62, 0.1);
  border: 0;
  border-radius: 0;
}

/* ============================================= */
/*             PRODUCT_SINGLE CSS ENDS          */
/* ============================================= */
/* ============================================= */
/*             FONTS CSS STARTS                  */
/* ============================================= */
.title {
  font-family: 'Khand', sans-serif;
  text-transform: uppercase;
  font-size: 2.2rem;
}

.gray_p {
  opacity: .7;
}

/* ============================================= */
/*             FONTS CSS ENDS                  */
/* ============================================= */
